# Day-1 Coding

In [1]:
print("This is me deepshika")

This is me deepshika

LOOPS IN PYTHON

In [7]:
for i in range(1,11):
    print(i*i*i)

1
8
27
64
125
216
343
512
729
1000

FUNCTIONS IN PYTHON

In [18]:
# Declaring function to calculate square of a number
def calculate_square(length):
  return length * length

  #Calling a function to print square of first square
print("The area of first square is:",calculate_square(6))
print("The area of first square is:",calculate_square(16))

The area of first square is: 36
The area of first square is: 256

HOMEWORK:FILE AREA OF CIRCLE

LISTS IN PYTHON

In [23]:
# write comments here
fruits = ["apple","banana", "mango","litch","watermelon"]
print(fruits)

#Accessing elements from the list
# print(fruits[0]) #first index
# print(fruits[-1])
# print(fruits[4])
# #Adding and removing elements from the list
# print(fruits[2])
fruits.append("pineapple")
print(fruits)

fruits.remove("mango")
print(fruits)

['apple', 'banana', 'mango', 'litch', 'watermelon']
['apple', 'banana', 'mango', 'litch', 'watermelon', 'pineapple']
['apple', 'banana', 'litch', 'watermelon', 'pineapple']

#Sets and tuples(Home-research)

DICTIONARY IN PYTHON

In [29]:
student = {
    "name" : "Deepshikha",
    "class" : 13,
    "gender" : "male"
}
#Accessing values from keys in a dictionary
print(student ["name"])
print(student["class"])

#Update values of a particular key in a dictionary
student["gender"] = "female"
print(student)

#Adding a new key-value pair into the existing dictionary
student["roll_no"] =13
print(student)

#Deleting a key-value pair into the existing dictionary
del student["class"]
print(student)

Deepshikha
13
{'name': 'Deepshikha', 'class': 13, 'gender': 'female'}
{'name': 'Deepshikha', 'class': 13, 'gender': 'female', 'roll_no': 13}
{'name': 'Deepshikha', 'gender': 'female', 'roll_no': 13}